[submodule "vendor/plugins/table_builder"]
	path = vendor/plugins/table_builder
	url = http://github.com/p8/table_builder.git
[submodule "vendor/plugins/annotate"]
	path = vendor/plugins/annotate
	url = http://github.com/ctran/annotate_models.git
